.tulo_no_access .paygate
{
    overflow:auto;
}

.tulo_no_access .paygate .info-box {
    background-color:#fff;
    float: left;
    
    overflow: hidden;
    padding: 20px;
    width:100%;
    display:block;
    box-sizing:border-box;
    margin-top:40px;
}
.tulo_no_access .paygate button {
    text-align: center;
    display: block;
    padding: 12px 0;
    border-radius: 8px;
    background: #007bc3;
    font-weight: bold;
    min-width: 30%;
    margin: 16px auto;
    color: #FFF !important;
    border:0;
}
.is-hidden {
    display: none;
}