textarea[name="tulo_products_val"]
{
    display:none;
}

textarea[name="tulo_whitelist_ip"]
{
    width:80%;
    height:300px;
}
textarea.tulo_permission_required {
    width:80%;
    height:300px;
}
textarea.tulo_paywall_spinner_html {
    width:80%;
    height:300px;
}

.tulo_product_row textarea.buy-info{

    width:80%;
    height:300px;
}
.tulo_product_row td{
    padding-top:35px;

}
.tulo_product_row input.productid
{
    margin:0 30px;

}
.tulo-products a{
    cursor:pointer;
}

.tulo_variable_row td{
    padding-top:35px;

}
.tulo_variable_row input.productid
{
    margin:0 30px;

}
.tulo_variables a{
    cursor:pointer;
}

a.tulo_add_variable {
    cursor:pointer;
}
textarea[name="tulo_variables_val"]
{
    display:none;
}
table.tulo-variables {
    width:100px;
}